<h1>Shows#top</h1>
<p>Find me in app/views/shows/top.html.erb</p>
<p><strong>Title: </strong>トラブル知らずのシステム設計</p>
<p><strong>Body: </strong>システム設計の要点を図解で説明してくれます</p>
<p><strong>Title: </strong>たのしいRuby</p>
<p><strong>Body: </strong>Rubyの入門におすすめです</p>
<p><strong>Title: </strong>入門Git</p>
<p><strong>Body: </strong>gitについての基本操作から内部構造まで解説してくれます</p>
<p><strong>Title: </strong>アルゴリズム図鑑</p>
<p><strong>Body: </strong>アルゴリズムについてカラーイラストでしっかり解説してくれます</p>
<p><strong>Title: </strong>達人プログラマー</p>
<p><strong>Body: </strong>プログラマ入門者は必読！</p>
<p><strong>Title: </strong>データベース実装入門</p>
<p><strong>Body: </strong>効率的なSQL文を教えてくれます</p>
<span><%= link_to 'Edit' "/Editing Book" %></span>
<span><%= link_to 'Back' "/Books" %></span>